{% extends 'admin/base.html' %} {% load static %} {% block branding %}

<h1 id="head">TNB HES</h1>
{% endblock %}

<div class="main shifted" id="main">
    {% if not is_popup and is_nav_sidebar_enabled %}
      {% block nav-sidebar %}
        {% include "admin/nav_sidebar.html" %}
      {% endblock %}
    {% endif %}
    <div class="content">
      {% block messages %}
        {% if messages %}
          <ul class="messagelist">{% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
          {% endfor %}</ul>
        {% endif %}
      {% endblock messages %}
      <!-- Content -->
      <div id="content" class="{% block coltype %}colM{% endblock %}" >
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>TNB HES Site Administration</h1>{% endif %}{% endblock %}
        {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
        {% block content %}
          {% block object-tools %}{% endblock %}
          {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear">
      </div>
      <!-- END Content -->
      {% block footer %}<div id="footer"></div>{% endblock %}
    </div>
  </div>

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/adminstyle.css' %}" />
{% endblock %}