{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="container-fluid">

  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Faults Management</h1> -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="" >
        <img class="img-responsive pb-4" src="{% static 'img/Picture3.png' %}" >
      </div>
    </div>
  </div>
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="" >
        <img class="img-responsive" src="{% static 'img/Picture2.png' %}" >
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}