{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="container-fluid">

  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Faults Management</h1> -->

  <!-- DataTales Example -->
  
  <div class="card shadow mb-5 col-md-12 pt-5">
    <div class='pb-3'>
      <h2 class="biggertexts">USER MANUAL</h2>
    </div>
    <!-- <div class="card-header py-3">
      <h5 class="m-0 font-weight-bold text-primary">FEEDER PILLARS</h5>
    </div> -->
    <div class="card-body " style="width: 70px;">
      <div class="">
          <div class="container">
            <div class="d-flex flex-row">
                <div class="p-5">
                    <div class="card " style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'img/manual.png' %}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">STANDARD OPERATION PROCEDURE FEEDER PILLAR MONITORING</h5>
                          <p class="card-text">Manual fro Feedern Pillar Operation</p>
                          <a href="{% static 'doc/TNBHES SOP CONTENTS.pdf' %}" class="btn btn-primary" download title="right click and open new tab to view instead of download">Download</a>
                        </div>
                      </div>
                </div>
                <div class="p-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'img/manual.png' %}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">STANDARD OPERATION PROCEDURE FEEDER PILLAR MONITORING</h5>
                          <p class="card-text">Manual fro Feedern Pillar Operation</p>
                          <a href="{% static 'doc/TNBHES SOP CONTENTS.pdf' %}" class="btn btn-primary" download title="right click and open new tab to view instead of download">Download</a>
                        </div>
                      </div>
                </div>
                <div class="p-5">
                    <div class="card " style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'img/manual.png' %}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">STANDARD OPERATION PROCEDURE FEEDER PILLAR MONITORING</h5>
                          <p class="card-text">Manual fro Feedern Pillar Operation</p>
                          <a href="{% static 'doc/TNBHES SOP CONTENTS.pdf' %}" class="btn btn-primary" download title="right click and open new tab to view instead of download">Download</a>
                        </div>
                      </div>
                </div>
              </div>

          </div>
      </div>
    </div>
  </div>
<!-- /.container-fluid -->
{% endblock %}